extend ../layout
block content
	.container
		.row
			table.table.table-hover
				thead
					tr
						th Name
						th Email
						th singUpTime
						th loginTime
						th edit
						th delete
				tbody
					each user in users
						tr
							th #{user.name}
							th #{user.email}
							th #{user.registerAt}
							th #{user.loginAt}
							th
								a(href='/user/update/#{user._id}') edit
							th 
								a(href='/user/del/#{user._id}') delete